<div fxLayout="column" fxLayoutAlign="center center">
  <h1>This is testing app to test ngx-file-size-formatter-mb library</h1>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="48px">
    <h3>1024 Bytes = </h3>
    <h2> {{ '1024' | fileSize}}</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="48px">
    <h3>10240000 Bytes = </h3>
    <h2> {{ '10240000' | fileSize}}</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="48px">
    <h3>10240000000 Bytes = </h3>
    <h2> {{ '10240000000' | fileSize}}</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="48px">
    <h3>10240000000000 Bytes = </h3>
    <h2> {{ '10240000000000' | fileSize}}</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="48px">
    <h3>10240000000000000 Bytes = </h3>
    <h2> {{ '10240000000000000' | fileSize}}</h2>
  </div>
</div>
